<div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control cushion" id="spring_rate" placeholder="Scanner Number"  aria-describedby="sizing-addon2">
      </div>
  <select name="cushion">
  {{#each cushions}}
    <option class="cushion-id" value="{{this.id}}">{{this.id}}</option>
  {{/each}}
</select>
</div>
  </div>
      <button type="button" class="btn btn-primary data-submit">Add Censor Data</button>