<h1>Display Local Facility Data Here!</h1>
<div>
  {{#each facilities}}
    <p>{{this.location}}</p>
    {{#each this.Cushions}}
    <p>{{this.scanner_number}}</p>
    <button type="button" class="btn btn-primary cushion-info" id="{{this.id}}">Show Cushion</button>
    {{/each}}
  {{/each}}
</div>