<h1> Hello World! </h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control facility"  id="facility-location" placeholder="Facility Location"  aria-describedby="sizing-addon2">
      </div>
      <button type="button" class="btn btn-primary facility-submit">Add Facility</button>
      <div>
  {{#each facilities}}
    <div>
      {{this.location}}
    </div>
  {{/each}}
</div>
    </div>
  </div>
</div>